.RoomItem {

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: end;

        height: 100%;
        padding: rem(23) rem(25) rem(36) rem(25);

        transition: transform $primaryTransition;

        border-radius: rem(15);
        background: $whiteColor;
        box-shadow: rem(5) rem(5) rem(14.5) 0 rgba(0, 0, 0, 0.25);

        &:hover {
            transform: scale(1.03);
        }
    }

    &__image, &__skeleton {
        margin: 0 rem(-25);
        margin-top: rem(-25);

        border-radius: rem(15) rem(15) 0 0;
        aspect-ratio: 268 / 180;
        object-fit: cover;
        
        &:not(:last-child) {
            margin-bottom: rem(28);
        }
    }

    &__number {
        text-align: center;

        font-size: rem(28);
        font-weight: 500;
    }

    &__status {
        text-align: center;

        font-size: rem(20);


        &_new {
            color: $yellowColor;
        }

        &_approved {
            color: $greenColor;
        }

        &_rejected {
            color: $redColor;
        }
    }
}

