.FacultiesList {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(em(200), 1fr));
   
   @media (max-width: em($smallMobile)) {
      grid-template-columns: repeat(auto-fit, minmax(em(160), 1fr));
   }
   
   @include adaptiveValue("gap", 80, 15, 0, $widthTo: $tablet);
}