.CalendarPage {
   display: flex;
   flex-direction: column;
   gap: rem(14);

   &__title {
      font-size: rem(28);
   }
}

.FullCalendar {
   padding: rem(20);

   background: $whiteColor;

   box-shadow: 0 rem(2) rem(6) #0000000A;

   &__customHeader {
      display: flex;
      flex-direction: column;
      row-gap: rem(15);
   }

   &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__bottom {
      position: relative;

      display: flex;
      align-items: center;
   }

   &__dateTitle, &__viewTitle {
      font-size: rem(18);
      line-height: rem(23);
   }

   &__viewTitle {

   }

   &__dateTitle {
      position: absolute;

      left: 50%;

      transform: translateX(-50%);
   }
}

.GroupButton {
   display: inline-flex;

   height: rem(32);

   border: 1px solid #D7DAE2;

   border-radius: rem(4);
   box-shadow: 0 rem(2) rem(3) #0000000D;

   font-size: rem(13);
   
   &__button {
      padding: rem(7) rem(18);

      transition: color $primaryTransition;

      line-height: rem(17);
      &:not(:last-child) {
         border-right: 1px solid #D7DAE2;
      }

      &_active {
         color: #3B86FF;
      }

      &:hover {
         opacity: 0.7;
         color: #3B86FF;
      }
   }
}

.eventTitle {
   font-size: rem(16);
}

:global {
   .fc-v-event {
      border: rem(3) solid var(--fc-event-border-color);
   }

   .fc .fc-popover {
      z-index: 99;
   }
}