.FulfilledRemoveBookModal {
   text-align: center;

   &__title {
      margin-bottom: rem(60);

      font-size: rem(32);
   }


   &__mark {
      display: inline;

      color: $redColor;

      background-color: transparent;
   }

   &__paragraph {
      font-size: rem(22);

      &_1 {
         margin-bottom: rem(130);
      }

      &_2 {
         display: flex;
         flex-direction: column;
         row-gap: rem(10);
      }
   }

   &__bold {
      font-weight: 700;
   }
}

