.Breadcrumbs {
   $p: &;
   padding: em(5);

   border: em(3) solid #ABABD3;
   border-radius: em(15);

   font-size: rem(16);
   line-height: em(28, 16);


   &__list {
      display: inline-flex;
      align-items: center;
      column-gap: em(10);
   }

   &__item {
      display: flex;
      align-items: center;

      text-wrap: nowrap;
      column-gap: em(10);
      
      &:not(:last-child) {
         &::after {
            display: block;

            width: em(8.4);
            height: em(13.2);

            content: "";

            background: url("../assets/arrow.svg") no-repeat;
         }
      }

      &:last-child {
         #{$p} {
            &__link {
               padding: 0 em(8);

               pointer-events: none;
   
               color: #fff;
               border-radius: em(9);
               background: #3A3C93;
            }
         }
      }
   }
}