.PrimaryButton {
   column-gap: rem(4);

   &__icon {
      flex: 0 0 auto;

      width: em(24.7750556793, 22);
      max-height: em(27, 22);
      fill: $whiteColor;
   }

   &__loader {
      color: $whiteColor;

      font-size: em(6, 22);
   }
}



