.RoomsPage {
    padding-bottom: rem(20);

    &__title {
        
    }

    &__section, &__container {
        height: 100%;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    
    &__selectsGroup {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;

        gap: rem(10) rem(40);


        @include adaptiveValue("margin-bottom", 50, 15, 0, $widthTo: $smallMobile);

        @media (min-width: em($tablet)) {
            align-items: center;
        }

        @media (max-width: em($tablet)) {
            flex-direction: column-reverse;
        }
    }
}


.Select {
    @media (max-width: em($mobile)) {
        font-size: rem(12);
    }
}