.Page {
	display: flex;
	flex-direction: column;

	height: 100%;

	margin-bottom: rem(95);

	&__main {
		flex: 1 1 auto;

		padding: rem(50) 0;

		@media (max-width: em($tablet)) {
			padding: rem(20) 0;
		}
	}

	&__header {
	}
}