.Aside {
   position: fixed;
   z-index: $asideZindex;
   top: 0;
   left: 0;

   height: 100%;
   padding: 0 rem(10);

   transition: left $primaryTransition;

   background-color: white;
   box-shadow: 11px 11px 20.4px 2px rgba(63, 64, 155, 0.42);

   &__list {
      display: flex;
      flex-direction: column;
      row-gap: rem(10);
   }
   

   // @media (max-width: em($tablet)) {
   //    padding-top: rem(165 + 30);
   // }

   // @media (min-width: em($tablet)) {
   //    padding-top: rem(111 + 30);
   // }


}


.overflowHidden {
   overflow: hidden;
}


.Overlay {
   $p: &;

   &_enter {
      #{$p} {
         &__aside {
            transition: 0.3s linear;
         }
      }
   }

   &_enterFrom {
      #{$p} {
         &__aside {
            left: -100%;
         }
      }
   }

   &_enterTo {
      #{$p} {
         &__aside {
            left: 0;
         }
      }
   }

   &_leave {
      #{$p} {
         &__aside {
            transition: 0.3s linear;
         }
      }
   }

   &_leaveFrom {
      #{$p} {
         &__aside {
            left: 0;
         }
      }
   }

   &_leaveTo {
      #{$p} {
         &__aside {
            left: -100%;
         }
      }
   }
}



