
.ProfileForm {
   display: grid;

   row-gap: rem(60);
   &__list {
      display: grid;
      

      gap: em(80) em(130);
   
   
      @media (min-width: em($tablet)) {
         > *:last-child {
            grid-column: 1 / 3;
         }
      }
   
      @media (min-width: em($tablet)) {
         grid-template-columns: repeat(2, 1fr);
      }
   
      @media (max-width: em($tablet)) {
         grid-template-columns: 1fr;
      }
   
   
      @include adaptiveValue("font-size", 16, 8, 0, $widthTo: $tablet);
   }

   &__buttons {
      display: flex;
      column-gap: rem(10);
      justify-self: center;
   }
}


.Select {
}


.Input {
}