.Tooltip {
   z-index: 100;

   min-width: rem(270);

   padding: rem(12);

   transform: translateX(-50%) translateY(rem(20));

   color: #fff;
   border-radius: rem(8);
   background: #333;
}


.EventForm {
   display: flex;
   flex-direction: column;
   gap: rem(2);

   &__buttons {
      display: flex;
      gap: rem(20);

      justify-content: space-between;
   }

   &__checkbox {
      align-self: center;
   }
}
