.Tooltip {
   z-index: 100;

   padding: rem(12);

   transform: translateX(-50%) translateY(rem(20));

   color: #fff;
   border-radius: rem(8);
   background: #333;
}


.EventForm {
   &__buttons {
      display: flex;
      gap: rem(20);

      justify-content: space-between;
   }
}
