.Header {
	position: sticky;
	z-index: $headerZIndex;
	top: 0;
	bottom: 0;

	width: 100%;
	padding: rem(16) 0;

	transition: top 0.3s linear, padding $primaryTransition;

	border-top: rem(2) solid $blueColor;
	border-bottom: rem(2) solid $blueColor;
	background-color: $whiteColor;

	&_hide {
		@media (max-width: em($tablet)) {
			top: rem(-75);
		}

		@media (max-width: em($mobile)) {
			top: rem(-60);
		}
	}

	&__container {
		display: grid;
		align-items: center;
		gap: rem(20);

		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
					"a a c";

		&_breadcrumbs {
			@media (min-width: em($tablet)) {
				grid-template-columns: repeat(3, 1fr);
	
				grid-template-areas:
					"a b c";
			}
	
			@media (max-width: em($tablet)) {
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(2, auto);
	
				grid-template-areas:
					"a a c"
					"b b b";
			}
		}


	}

	&__cell {
		&_1 {
			justify-self: start;
			grid-area: a;
		}

		&_2 {
			justify-self: center;
			grid-area: b;
			
		}

		&_3 {
			justify-self: end;
			grid-area: c;
		}
	}

	&__breadcrumbs {
		transition: font-size $primaryTransition;
		
		@media (max-width: em($smallMobile)) {
			font-size: rem(12.5);
		}
	}

	@media (max-width: em($mobile)) {
		padding: rem(8) 0;
	}
}