.FacultyItem {
    $p: &;

    &__link {
        display: flex;
        place-items: center;
        
        flex-direction: column;

        line-height: 1.7;
        row-gap: rem(14);
        &:hover {
            #{$p} {
                &__image {
                    transform: scale(1.1);
                }
            }
        }
    }

    &__image {
        width: 100%;

        transition: transform $primaryTransition;
    }

    &__skeleton {
        width: 100%;

        transform: scale(0.7);

        border-radius: rem(8);
        aspect-ratio: 230 / 184;
    }

    &__slug {
        text-align: center;

        font-size: rem(14);
    }
}


.Skeleton {
}


.FacultySkeleton {
    
}
