.Input {
   position: relative;

   width: 100%;

   &_withValidation {
      margin-bottom: rem(10);
   }

   &__this {
      min-width: 100%;
      padding: rem(7.5);

      border-bottom: rem(1) solid #43425D;

      background: transparent;

      font-size: rem(9);
      &::placeholder {
         color: #43425D;
      }
   }

   &__validation {
      position: absolute;
      bottom: 0;
      left: rem(4);

      color: $redColor;

      font-size: rem(7);
   }
}